<div id="mainCoantiner">
  <!--dust particel-->
  <div class="margin-body">
    <div>
      <!--Dust particle end--->

      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
              <div class="title-h1 text-center">
                <span class="light">Frontend Projects</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 project-column-wrapper">
          <div class="project-column">
            <div class="project-price-row">
              <div class="project-price-wrapper">
                <img
                  src="../../../../../assets/portfolio_latest.JPG"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="project-row-title">
              <div class="project_row_title">
                Portfolio Website with Angular
              </div>
            </div>
            <figure class="project-row">
              Behavioral Subjects, Services and Components
            </figure>
            <figure class="project-row">
              <span>Angular Routing and Child Routes</span>
            </figure>
            <figure class="project-row">Angular Material Design</figure>
            <figure class="project-row">
              Boostrap and Advanced CSS Layouts and Classes
            </figure>
            <figure class="project-row">
              Angular Modules and Integration of Multiple Modules
            </figure>
            <div class="project-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://github.com/turgutguvenc/Portfolio"
                  class="gem-button gem-green"
                  target="_blank"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 project-column-wrapper">
          <div class="project-column">
            <div class="project-price-row">
              <div class="project-price-wrapper">
                <img
                  src="../../../../../assets/portfolio1.JPG"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="project-row-title">
              <div class="project_row_title">
                Portfolio Website with HTML and CSS
              </div>
            </div>
            <figure class="project-row">
              Advanced Integration of HTML and CSS
            </figure>
            <figure class="project-row">Website Deployment</figure>
            <figure class="project-row">
              Integration of Multiple HTML Tags
            </figure>
            <figure class="project-row">Advanced CSS with Bootstrap</figure>
            <figure class="project-row">Corousels and Iframes</figure>
            <div class="project-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://turgutguvenc.github.io/turgutguvenc_portfolio_website/"
                  class="gem-button gem-purpel"
                  target="_blank"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-6 project-column-wrapper">
          <div class="project-column">
            <div class="project-price-row">
              <div class="project-price-wrapper">
                <img
                  src="../../../../../assets/productsaleapp.JPG"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="project-row-title">
              <div class="project_row_title">Product Sale Website</div>
            </div>
            <figure class="project-row">Full-stack Web Development</figure>
            <figure class="project-row">
              <span>Bootstrap and Advanced CSS Layouts and Classes</span>
            </figure>
            <figure class="project-row">
              Backend and Frontend Integration
            </figure>
            <figure class="project-row">
              Restful API Design and Integration to Frontend App
            </figure>
            <figure class="project-row">
              Authentication with OAuth 2.0 and Role-based Authorization
            </figure>
            <div class="project-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://github.com/turgutguvenc/Product-Sale-Website/tree/main"
                  class="gem-button gem-green"
                  target="_blank"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 project-column-wrapper">
          <div class="project-column">
            <div class="project-price-row">
              <div class="project-price-wrapper">
                <img
                  src="../../../../../assets/houseprice.png"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="project-row-title">
              <div class="project_row_title">
                House Price Prediction Web Site
              </div>
            </div>
            <figure class="project-row">
              Machine Learning Model Deployment
            </figure>
            <figure class="project-row">Machine Learning Model Training</figure>
            <figure class="project-row">
              Integration of Machine Learning Model with Website
            </figure>
            <figure class="project-row">Advanced CSS with Bootstrap</figure>
            <figure class="project-row">
              RESTful Web APIs using Flask and Python
            </figure>
            <div class="project-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://turgutguvenc.github.io/turgutguvenc_portfolio_website/"
                  class="gem-button gem-purpel"
                  target="_blank"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="division-line" />
    </div>
  </div>
</div>
