<div id="mainCoantiner">
  <!--dust particel-->
  <div class="margin-body">
    <div>
      <!--Dust particle end--->

      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
              <div class="title-h1 text-center">
                <span class="light">Machine Vision Projects</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 project-column-wrapper">
          <div class="project-column">
            <div class="project-price-row">
              <div class="project-price-wrapper">
                <img
                  src="./assets/tomatodesaese2.JPG"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="project-row-title">
              <div class="project_row_title">
                Tomato Plant Disease Classification with FastAPI
              </div>
            </div>
            <figure class="project-row">
              Data Extraction, Shuffling, and Augmentation
            </figure>
            <figure class="project-row">
              <span>Splitting TrainValidation, Test Sets</span>
            </figure>
            <figure class="project-row">
              Training Convolutional Neural Networks
            </figure>
            <figure class="project-row">Model Deployment with FastAPI</figure>
            <figure class="project-row">
              API Model Prediction Testing with Postman
            </figure>
            <div class="project-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://github.com/turgutguvenc/Tomato-Plant-Disease-Classification"
                  class="gem-button gem-green"
                  target="_blank"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 project-column-wrapper">
          <div class="project-column">
            <div class="project-price-row">
              <div class="project-price-wrapper">
                <img src="./assets/face.jpg" alt="" class="img-responsive" />
              </div>
            </div>
            <div class="project-row-title">
              <div class="project_row_title">
                Face Recognition with Transfer Learning
              </div>
            </div>
            <figure class="project-row">
              Building Face Recognition System for Detecting Famous Fooball
              Players
            </figure>
            <figure class="project-row">
              Implementing FaceNet Algoritm with Transfer Learning
            </figure>
            <figure class="project-row">
              Creating Convolutional Neural Nets
            </figure>
            <figure class="project-row">Model Verification and Testing</figure>
            <figure class="project-row">
              Model Prediction and Face Recognition with High Accuracy
            </figure>
            <div class="project-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://github.com/turgutguvenc/Face-Recognition-with-Transfer-Learning"
                  class="gem-button gem-purpel"
                  target="_blank"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-6 project-column-wrapper">
          <div class="project-column">
            <div class="project-price-row">
              <div class="project-price-wrapper">
                <img
                  src="./assets/traffic_sign.jpg"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="project-row-title">
              <div class="project_row_title">Traffic Sign Detection</div>
            </div>
            <figure class="project-row">
              Data Augmentation with Image Data Generator
            </figure>
            <figure class="project-row">
              <span
                >Max Pooling for Scaling down Data and Better
                Generalization</span
              >
            </figure>
            <figure class="project-row">
              Creating Convolutional Neural Nets Architecture
            </figure>
            <figure class="project-row">
              Testing and Using Best Activation Functions and Optimizers
            </figure>
            <figure class="project-row">
              Traffic Detection with %99 Accuracy
            </figure>
            <div class="project-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://github.com/turgutguvenc/Traffic-Sign-Detection"
                  class="gem-button gem-green"
                  target="_blank"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 project-column-wrapper">
          <div class="project-column">
            <div class="project-price-row">
              <div class="project-price-wrapper">
                <img
                  src="./assets/shipdetection.png"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="project-row-title">
              <div class="project_row_title">
                Detecting Ships from Satallite
              </div>
            </div>
            <figure class="project-row">
              Image Analysis and Visualization with Advanced Techniques
            </figure>
            <figure class="project-row">
              Image Preprocessinf with Label Encoder
            </figure>
            <figure class="project-row">
              Image Shuffling, Scaling and Flipping for Avoiding Overfitting
            </figure>
            <figure class="project-row">
              Creating CNNs Model and Training Model
            </figure>
            <figure class="project-row">
              Model Evaluation with Test data and Retraing Model for Better
              Accuracy
            </figure>
            <div class="project-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://www.kaggle.com/code/abrahamanderson/detecting-ships-from-satallite"
                  class="gem-button gem-purpel"
                  target="_blank"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="division-line" />
    </div>
  </div>
</div>
