<div class="container">
  <mat-card class="main-card">
    <mat-card-header> </mat-card-header>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Software Development">
          <div class="row">
            <div class="col-6">
              <mat-list class="skill-list">
                <h2 class="skill-header">My Skills</h2>
                <mat-list-item class="skill-list-item">
                  <mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox>
                  <span
                    matTooltip="Phyton Backend Developmen"
                    matTooltipPosition="above"
                    >Phyton Backend Development</span
                  >
                </mat-list-item>
                <mat-list-item class="skill-list-item"
                  ><mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox
                  ><span
                    matTooltip="Object Oriented Programming"
                    matTooltipPosition="above"
                    >Object Oriented Programming</span
                  ></mat-list-item
                >
                <mat-list-item class="skill-list-item"
                  ><mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox
                  ><span
                    matTooltip="Frontend Software Development"
                    matTooltipPosition="above"
                    >Frontend Software Development</span
                  ></mat-list-item
                >
                <mat-list-item class="skill-list-item"
                  ><mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox
                  ><span
                    matTooltip="Problem-Solving and Logical Thinking"
                    matTooltipPosition="above"
                    >Problem-Solving and Logical Thinking</span
                  ></mat-list-item
                >
                <mat-list-item class="skill-list-item"
                  ><mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox
                  ><span
                    matTooltip="Algorithm and Data Structures"
                    matTooltipPosition="above"
                    >Algorithm and Data Structures</span
                  ></mat-list-item
                >
                <mat-list-item class="skill-list-item"
                  ><mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox
                  ><span
                    matTooltip="Version Control with Git"
                    matTooltipPosition="above"
                    >Version Control with Git</span
                  ></mat-list-item
                >
                <mat-list-item class="skill-list-item"
                  ><mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox
                  ><span
                    matTooltip="Working with SQL and NoSQL Databases"
                    matTooltipPosition="above"
                    >Working with SQL and NoSQL Databases</span
                  ></mat-list-item
                >
                <mat-list-item class="skill-list-item"
                  ><mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox
                  ><span
                    matTooltip="Application Programming Interfaces(APIs)"
                    matTooltipPosition="above"
                    >Application Programming Interfaces(APIs)</span
                  >
                </mat-list-item>
                <mat-list-item class="skill-list-item"
                  ><mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox
                  ><span
                    matTooltip="Debugging and Testing"
                    matTooltipPosition="above"
                    >Debugging and Testing</span
                  >
                </mat-list-item>
                <mat-list-item class="skill-list-item"
                  ><mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox
                  ><span
                    matTooltip="Continuous Integration/Continuous Deployment(CI/CD)"
                    matTooltipPosition="above"
                    >Continuous Integration/Continuous Deployment(CI/CD)</span
                  >
                </mat-list-item>
              </mat-list>
            </div>
            <div class="col-6">
              <mat-list class="skill-list">
                <h2 class="skill-header">Relevant Technologies</h2>
                <mat-list-item class="skill-list-item">
                  <mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox>
                  <span matTooltip="Python" matTooltipPosition="above"
                    >Python</span
                  >
                </mat-list-item>
                <mat-list-item class="skill-list-item">
                  <mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox>
                  <span matTooltip="Git/Github" matTooltipPosition="above"
                    >Git/Github</span
                  >
                </mat-list-item>
                <mat-list-item class="skill-list-item">
                  <mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox>
                  <span matTooltip="Jira with Scrum" matTooltipPosition="above"
                    >Jira with Scrum</span
                  >
                </mat-list-item>
                <mat-list-item class="skill-list-item">
                  <mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox>
                  <span matTooltip="Amazon AWS" matTooltipPosition="above"
                    >Amazon AWS</span
                  >
                </mat-list-item>
                <mat-list-item class="skill-list-item">
                  <mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox>
                  <span
                    matTooltip="Docker and Docker Compose"
                    matTooltipPosition="above"
                    >Docker and Docker Compose</span
                  >
                </mat-list-item>
                <mat-list-item class="skill-list-item">
                  <mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox>
                  <span
                    matTooltip="SQL and NoSQL Databases"
                    matTooltipPosition="above"
                    >SQL and NoSQL Databases</span
                  >
                </mat-list-item>
                <mat-list-item class="skill-list-item">
                  <mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox>
                  <span matTooltip="Apache Cassandra" matTooltipPosition="above"
                    >Apache Cassandra</span
                  >
                </mat-list-item>
              </mat-list>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-button>LIKE</button>
        <button mat-button>SHARE</button> -->
    </mat-card-actions>
  </mat-card>
</div>
