<div class="bottom-container">
  <a
    class="footer-link"
    href="https://www.linkedin.com/in/turgut-ozal-guvenc/"
    target="_blank"
    >LinkedIn</a
  >
  <a class="footer-link" href="https://github.com/turgutguvenc" target="_blank"
    >Github</a
  >
  <a
    class="footer-link"
    href="https://www.kaggle.com/turgutguvenc"
    target="_blank"
    >Kaggle</a
  >
  <a
    class="footer-link"
    href="https://www.youtube.com/@turgutguvenc"
    target="_blank"
    >YouTube</a
  >
  <p class="footer-copy">© 2023 Turgut Ozal Guvenc.</p>
</div>
