<div class="container">
  <mat-card class="main-card">
    <mat-card-header> </mat-card-header>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Deep Learning">
          <div class="row">
            <div class="col-6">
              <mat-list class="skill-list">
                <h2 class="skill-header">My Skills</h2>
                <mat-list-item class="skill-list-item">
                  <mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox>
                  <span
                    matTooltip="Deep Learning Model Training and Predictions"
                    matTooltipPosition="above"
                    >Deep Learning Model Training and Predictions</span
                  >
                </mat-list-item>
                <mat-list-item class="skill-list-item"
                  ><mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox
                  ><span
                    matTooltip="Deep Learning Model Deployment"
                    matTooltipPosition="above"
                    >Deep Learning Model Deployment</span
                  ></mat-list-item
                >
                <mat-list-item class="skill-list-item"
                  ><mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox
                  ><span
                    matTooltip="Artificial Neural Networks"
                    matTooltipPosition="above"
                    >Artificial Neural Networks</span
                  ></mat-list-item
                >
                <mat-list-item class="skill-list-item"
                  ><mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox
                  ><span
                    matTooltip="Recurrent Neural Networks"
                    matTooltipPosition="above"
                    >Recurrent Neural Networks</span
                  ></mat-list-item
                >
                <mat-list-item class="skill-list-item"
                  ><mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox
                  ><span
                    matTooltip="Generative Adversarial Networks(GANs)"
                    matTooltipPosition="above"
                    >Generative Adversarial Networks(GANs)</span
                  ></mat-list-item
                >
                <mat-list-item class="skill-list-item"
                  ><mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox
                  ><span
                    matTooltip="Natural Language Processing(NLP)"
                    matTooltipPosition="above"
                    >Natural Language Processing(NLP)</span
                  ></mat-list-item
                >
                <mat-list-item class="skill-list-item"
                  ><mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox
                  ><span
                    matTooltip="Transfer Learning"
                    matTooltipPosition="above"
                    >Transfer Learning</span
                  ></mat-list-item
                >
                <mat-list-item class="skill-list-item"
                  ><mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox
                  ><span
                    matTooltip="Semantic Segmentations and LSTMs"
                    matTooltipPosition="above"
                    >Semantic Segmentations and LSTMs
                  </span>
                </mat-list-item>
              </mat-list>
            </div>
            <div class="col-6">
              <mat-list class="skill-list">
                <h2 class="skill-header">Relevant Technologies</h2>
                <mat-list-item class="skill-list-item">
                  <mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox>
                  <span matTooltip="Scikit-Learn" matTooltipPosition="above"
                    >Scikit-Learn</span
                  >
                </mat-list-item>
                <mat-list-item class="skill-list-item">
                  <mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox>
                  <span matTooltip="TensorFlow" matTooltipPosition="above"
                    >TensorFlow</span
                  >
                </mat-list-item>
                <mat-list-item class="skill-list-item">
                  <mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox>
                  <span matTooltip="PyTorch" matTooltipPosition="above"
                    >PyTorch</span
                  >
                </mat-list-item>
                <mat-list-item class="skill-list-item">
                  <mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox>
                  <span matTooltip="Keras" matTooltipPosition="above"
                    >Keras</span
                  >
                </mat-list-item>
                <mat-list-item class="skill-list-item">
                  <mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox>
                  <span matTooltip="Amazon SageMaker" matTooltipPosition="above"
                    >Amazon SageMaker</span
                  >
                </mat-list-item>
              </mat-list>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-button>LIKE</button>
        <button mat-button>SHARE</button> -->
    </mat-card-actions>
  </mat-card>
</div>
