<div id="mainCoantiner">
  <!--dust particel-->
  <div class="margin-body">
    <div>
      <!--Dust particle end--->

      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
              <div class="title-h1 text-center">
                <span class="light">Data Science Projects</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 project-column-wrapper">
          <div class="project-column">
            <div class="project-price-row">
              <div class="project-price-wrapper">
                <img
                  src="./assets/powerbi.JPG"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="project-row-title">
              <div class="project_row_title">
                ETL Creating PowerBI Dashboard Project
              </div>
            </div>
            <figure class="project-row">
              Data Modelling Cricket Game Dataset from Scratch
            </figure>
            <figure class="project-row">
              <span
                >Creating Relevant SQL Database and Schema from Scratch</span
              >
            </figure>
            <figure class="project-row">Build ETL Processes for PowerBI</figure>
            <figure class="project-row">
              Importing and Preparing Data from Database to PowerBI
            </figure>
            <figure class="project-row">
              Creating PowerBI Dashboards and Visualizations
            </figure>
            <div class="project-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://github.com/turgutguvenc/End-to-end-data-powerBI-dashboard"
                  class="gem-button gem-green"
                  target="_blank"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 project-column-wrapper">
          <div class="project-column">
            <div class="project-price-row">
              <div class="project-price-wrapper">
                <img
                  src="./assets/postgresql.jpeg"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="project-row-title">
              <div class="project_row_title">Data Modeling with PostgreSQL</div>
            </div>
            <figure class="project-row">Extracting Million Song Dataset</figure>
            <figure class="project-row">
              Normalizing Dataset by Following Normalisation Steps
            </figure>
            <figure class="project-row">
              Use Schemas for Organizing Database Objects
            </figure>
            <figure class="project-row">
              Creating PostgreSQL Database for Storing Data
            </figure>
            <div class="project-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://github.com/turgutguvenc/Data-Modeling-with-SQL"
                  class="gem-button gem-purpel"
                  target="_blank"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />

      <div class="row">
        <div class="col-md-6 project-column-wrapper">
          <div class="project-column">
            <div class="project-price-row">
              <div class="project-price-wrapper">
                <img
                  src="./assets/cassandra.png_large"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="project-row-title">
              <div class="project_row_title">
                Data Modeling with Apache Cassandra
              </div>
            </div>
            <figure class="project-row">
              ETL Pipeline for Pre-Processing the Files
            </figure>
            <figure class="project-row">
              <span>Processing the Files for Apache Casssandra Tables</span>
            </figure>
            <figure class="project-row">
              Review and Refine Physical Data Model
            </figure>
            <figure class="project-row">
              Distributes Data Evenly Around the Cassandra Cluster
            </figure>
            <figure class="project-row">Map Data and Queries</figure>
            <div class="project-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://github.com/turgutguvenc/No-SQL-Data-Modeling-with-Apache-Cassandra"
                  class="gem-button gem-green"
                  target="_blank"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 project-column-wrapper">
          <div class="project-column">
            <div class="project-price-row">
              <div class="project-price-wrapper">
                <img
                  src="./assets/covid.JPG"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="project-row-title">
              <div class="project_row_title">
                Covid Pandemic Analyzing Project
              </div>
            </div>
            <figure class="project-row">
              ETL Processes to Extract Real Covid Data
            </figure>
            <figure class="project-row">
              Make Dashboards and Visualizations for Better Insights
            </figure>
            <figure class="project-row">
              Creating PostgreSQL Database for Storing Data
            </figure>
            <figure class="project-row">
              Making Exploratory Data Analysis with PostgreSQL
            </figure>
            <figure class="project-row">
              Connecting Postgresql to Power BI for Data Visualization
            </figure>
            <div class="project-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://github.com/turgutguvenc/CovidProject"
                  class="gem-button gem-purpel"
                  target="_blank"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />

      <div class="row">
        <div class="col-md-6 project-column-wrapper">
          <div class="project-column">
            <div class="project-price-row">
              <div class="project-price-wrapper">
                <img
                  src="./assets/abtesting.png"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="project-row-title">
              <div class="project_row_title">A/B Testing</div>
            </div>
            <figure class="project-row">
              A/B Testing for Two Independent Samples
            </figure>
            <figure class="project-row">
              <span>Normal Distribution Conjecture</span>
            </figure>
            <figure class="project-row">Variance Homogeneity</figure>
            <figure class="project-row">Using Shapiro-Wilks test</figure>
            <figure class="project-row">Hypothesis Test</figure>
            <div class="project-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://www.kaggle.com/code/turgutguvenc/ab-testing"
                  class="gem-button gem-green"
                  target="_blank"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 project-column-wrapper">
          <div class="project-column">
            <div class="project-price-row">
              <div class="project-price-wrapper">
                <img
                  src="./assets/churn3.png"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="project-row-title">
              <div class="project_row_title">Telco Customer Churn Analysis</div>
            </div>
            <figure class="project-row">
              This Project Got Many Forks and Silver Medal
            </figure>
            <figure class="project-row">
              Exploratory Data Analysis and Data Preprocessing
            </figure>
            <figure class="project-row">Using Ensemble ML Algorithms</figure>
            <figure class="project-row">Artifial Neural Networks</figure>
            <figure class="project-row">
              Pasting, Bagging, and XGBoost ML Algorithms
            </figure>
            <div class="project-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://www.kaggle.com/code/abrahamanderson/customer-retention-prediction-advanced-models"
                  class="gem-button gem-purpel"
                  target="_blank"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-6 project-column-wrapper">
          <div class="project-column">
            <div class="project-price-row">
              <div class="project-price-wrapper">
                <img
                  src="./assets/productsaleapp.JPG"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="project-row-title">
              <div class="project_row_title">Home Credit Risk Detection</div>
            </div>
            <figure class="project-row">
              Extracting Data from 7 Different Sources
            </figure>
            <figure class="project-row">
              <span>Data Manipulation and Wrangling</span>
            </figure>
            <figure class="project-row">Feature Extraction</figure>
            <figure class="project-row">Advanced Data Visualization</figure>
            <figure class="project-row">
              ML Model Training and Prediction
            </figure>
            <div class="project-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://www.kaggle.com/code/turgutguvenc/home-credit-project-credit-card-balance"
                  class="gem-button gem-green"
                  target="_blank"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 project-column-wrapper">
          <div class="project-column">
            <div class="project-price-row">
              <div class="project-price-wrapper">
                <img
                  src="./assets/houseprice.png"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="project-row-title">
              <div class="project_row_title">
                House Price Prediction Project
              </div>
            </div>
            <figure class="project-row">
              This Project Got Many Forks and Silver Medal
            </figure>
            <figure class="project-row">
              Comparative ML ALgorithms Training and Prediction
            </figure>
            <figure class="project-row">
              Advanced Techniques for Missing Data
            </figure>
            <figure class="project-row">Future Engineering</figure>
            <figure class="project-row">
              Data Transformation for ML Algorithms
            </figure>
            <div class="project-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://www.kaggle.com/code/abrahamanderson/house-price-competition-advanced-regression"
                  class="gem-button gem-purpel"
                  target="_blank"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 project-column-wrapper">
          <div class="project-column">
            <div class="project-price-row">
              <div class="project-price-wrapper">
                <img
                  src="./assets/comparative.JPG"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="project-row-title">
              <div class="project_row_title">
                Comparative Use of Classification Models
              </div>
            </div>
            <figure class="project-row">
              Logistic Regression Classifier Algorithm
            </figure>
            <figure class="project-row">
              <span>K Nearest Neighbors Classfier</span>
            </figure>
            <figure class="project-row">Decision Tree Classifier</figure>
            <figure class="project-row">Random Forest Classifier</figure>
            <figure class="project-row">Naive Bayes Classifier</figure>
            <div class="project-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://www.kaggle.com/code/abrahamanderson/comparative-use-of-popular-classification-models"
                  class="gem-button gem-green"
                  target="_blank"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 project-column-wrapper">
          <div class="project-column">
            <div class="project-price-row">
              <div class="project-price-wrapper">
                <img
                  src="./assets/churn3.png"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="project-row-title">
              <div class="project_row_title">
                Bank Loan Customer Risk Prediction
              </div>
            </div>
            <figure class="project-row">
              This Project Got Many Forks and Silver Medal
            </figure>
            <figure class="project-row">
              Creating Decision Tree Algorithm
            </figure>
            <figure class="project-row">
              Calculating Entropy and Information Gain
            </figure>
            <figure class="project-row">
              Model Performance Analysis with Classification Reports
            </figure>
            <figure class="project-row">
              Model Performance Analysis with Confusion Matrix
            </figure>
            <div class="project-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://www.kaggle.com/code/abrahamanderson/decision-tree-entropy-information-gain"
                  class="gem-button gem-purpel"
                  target="_blank"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-6 project-column-wrapper">
          <div class="project-column">
            <div class="project-price-row">
              <div class="project-price-wrapper">
                <img
                  src="./assets/customer segmentation.JPG"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="project-row-title">
              <div class="project_row_title">
                Customer Classification and Segmentation
              </div>
            </div>
            <figure class="project-row">
              A Practical Implementation of K Nearest Neighbors
            </figure>
            <figure class="project-row">
              <span>Exploratory Data Analysis with Pandas and Numpy</span>
            </figure>
            <figure class="project-row">
              Advanced Data Visualization with Seaborn
            </figure>
            <figure class="project-row">
              Data Normalisation and Transformation
            </figure>
            <figure class="project-row">
              Model Training and Evaluation with Metrics
            </figure>
            <div class="project-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://www.kaggle.com/code/abrahamanderson/a-practical-use-of-k-nearest-neighbors"
                  class="gem-button gem-green"
                  target="_blank"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 project-column-wrapper">
          <div class="project-column">
            <div class="project-price-row">
              <div class="project-price-wrapper">
                <img
                  src="./assets/housesale.JPG"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="project-row-title">
              <div class="project_row_title">
                GeoSpatial House Sale Analysis and Prediction
              </div>
            </div>
            <figure class="project-row">
              This Project Got Many Forks and Silver Medal
            </figure>
            <figure class="project-row">GeoSpatial House Sale Analysis</figure>
            <figure class="project-row">
              Model Training with Aritificial Neural Networks
            </figure>
            <figure class="project-row">
              Comparative Implementation of Activation Functions
            </figure>
            <figure class="project-row">
              Comparative Implementation of Optimizers
            </figure>
            <div class="project-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://www.kaggle.com/code/abrahamanderson/regression-with-deep-learning-in-tensorflow"
                  class="gem-button gem-purpel"
                  target="_blank"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
