<div class="top-container">
  <div class="row">
    <div class="col-md-6 profile-image-container">
      <img class="profile-img" src="./assets/turgut_latest.jpg" alt="" />
    </div>
    <div class="col-md-6 profile-details">
      <h1 class="myname">I am Turgut Ozal Guvenc</h1>
      <p class="occupation">Data Scientist and Machine Learning Engineer</p>
    </div>
  </div>
</div>
<div class="middle-container">
  <div class="profile">
    <h2>About</h2>
    <p class="text-about">
      I am a Data Scientist and Machine Learning Engineer in Boston in USA. I
      like to share my knowledge and codes with frontend software development,
      programming, data science, machine learning, and AI on Kaggle and GitHub,
      where I write continuously frontend and backend, machine learning, and
      deep learning codes. I have been ranked 2352. rank among more than 305 000
      machine learning practitioners at kaggle.com which is the most prominent
      machine learning platform in the world. My programming knowledge covers
      both Frontend Development with React, HTML, CSS, Javascript, and backend
      development via Python, and it is also equipped with data science,
      statistics, machine learning, and AI knowledge. I learn very fast and
      efficiently anything I want to learn and I am also a very hardworking
      person who can work independently and also can collaborate very well with
      other people. I am proficient in frontend software development languages
      and technologies such as JavaScript, CSS, and HTML with efficient
      practical experience using React Framework. I have practical experience
      and knowledge in backend development in Python. I am also fluent in
      supportive technologies for software development such as Docker, GIT,
      Github, JIRA, SQL, and NoSQL databases like MongoDB. I have a
      <a href="https://www.youtube.com/@turgutguvenc" target="_blank"
        >YouTube Channel</a
      >
      where I continuously share my project in tutorial mode on AI, software
      development, data science, and machine learning.
    </p>
  </div>
</div>

<div class="contact-me">
  <h2>Get In Touch</h2>
  <h3 class="contact-me-text">
    I'm currently available for full-time, part-time and freelance work, or
    internship.
  </h3>
  <a
    class="btn contactbutton"
    href="mailto:turgutguvenc60@gmail.com"
    style="color: #fff; margin-bottom: 2%; width: 30%; text-size: 1rem"
    >CONTACT ME</a
  >
</div>
