<div class="container">
  <mat-card class="main-card">
    <mat-card-header> </mat-card-header>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Frontend Development">
          <div class="row">
            <div class="col-6">
              <mat-list class="skill-list">
                <h2 class="skill-header">My Skills</h2>
                <mat-list-item class="skill-list-item">
                  <mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox>
                  <span
                    matTooltip="Frontend Development with React"
                    matTooltipPosition="above"
                    >Frontend Development with React</span
                  >
                </mat-list-item>
                <mat-list-item class="skill-list-item"
                  ><mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox
                  ><span
                    matTooltip="Responsive Web Design"
                    matTooltipPosition="above"
                    >Responsive Web Design</span
                  ></mat-list-item
                >
                <mat-list-item class="skill-list-item"
                  ><mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox
                  ><span
                    matTooltip="Efficient and Maintainable Web Page Layouts"
                    matTooltipPosition="above"
                    >Efficient and Maintainable Web Page Layouts</span
                  ></mat-list-item
                >
                <mat-list-item class="skill-list-item"
                  ><mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox
                  ><span
                    matTooltip="Web Performance Optimization"
                    matTooltipPosition="above"
                    >Web Performance Optimization</span
                  ></mat-list-item
                >
                <mat-list-item class="skill-list-item"
                  ><mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox
                  ><span
                    matTooltip="Web Browsers and Developer Tools"
                    matTooltipPosition="above"
                    >Web Browsers and Developer Tools</span
                  ></mat-list-item
                >
                <mat-list-item class="skill-list-item"
                  ><mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox
                  ><span
                    matTooltip="Dynamic and Interactive Content and State Management"
                    matTooltipPosition="above"
                    >Dynamic and Interactive Content and State Management</span
                  ></mat-list-item
                >
                <mat-list-item class="skill-list-item"
                  ><mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox
                  ><span
                    matTooltip="DOM manipulation"
                    matTooltipPosition="above"
                    >DOM manipulation</span
                  ></mat-list-item
                >
                <mat-list-item class="skill-list-item"
                  ><mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox
                  ><span
                    matTooltip="Asynchronous Programmings"
                    matTooltipPosition="above"
                    >Asynchronous Programming</span
                  >
                </mat-list-item>
              </mat-list>
            </div>
            <div class="col-6">
              <mat-list class="skill-list">
                <h2 class="skill-header">Relevant Technologies</h2>
                <mat-list-item class="skill-list-item">
                  <mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox>
                  <span matTooltip="HTML" matTooltipPosition="above">HTML</span>
                </mat-list-item>
                <mat-list-item class="skill-list-item">
                  <mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox>
                  <span matTooltip="CSS" matTooltipPosition="above">CSS</span>
                </mat-list-item>
                <mat-list-item class="skill-list-item">
                  <mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox>
                  <span matTooltip="Bootstrap" matTooltipPosition="above"
                    >Bootstrap</span
                  >
                </mat-list-item>
                <mat-list-item class="skill-list-item">
                  <mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox>
                  <span matTooltip="JavaScript" matTooltipPosition="above"
                    >JavaScript</span
                  >
                </mat-list-item>
                <mat-list-item class="skill-list-item">
                  <mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox>
                  <span matTooltip="React" matTooltipPosition="above"
                    >React</span
                  >
                </mat-list-item>
                <mat-list-item class="skill-list-item">
                  <mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox>
                  <span matTooltip="Amazon Amplify" matTooltipPosition="above"
                    >Amazon Amplify</span
                  >
                </mat-list-item>
              </mat-list>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-button>LIKE</button>
        <button mat-button>SHARE</button> -->
    </mat-card-actions>
  </mat-card>
</div>
