<div class="container">
  <mat-card class="main-card">
    <mat-card-header> </mat-card-header>
    <mat-card-content>
      <mat-tab-group class="custom-tab-group">
        <mat-tab label="Data Science">
          <div class="row">
            <div class="col-6">
              <mat-list class="skill-list">
                <h2 class="skill-header">My Skills</h2>
                <mat-list-item class="skill-list-item">
                  <mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox>
                  <span
                    matTooltip="Exploratory and Statictical Data Analysis"
                    matTooltipPosition="above"
                    >Exploratory and Statictical Data Analysis</span
                  >
                </mat-list-item>
                <mat-list-item class="skill-list-item"
                  ><mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox
                  ><span
                    matTooltip="Data Extraction, Analysis, Manipulation, and Wrangling"
                    matTooltipPosition="above"
                    >Data Extraction, Analysis, Manipulation, and
                    Wrangling</span
                  ></mat-list-item
                >
                <mat-list-item class="skill-list-item"
                  ><mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox
                  ><span
                    matTooltip="Statistical Analysis and Computing"
                    matTooltipPosition="above"
                    >Statistical Analysis and Computing</span
                  ></mat-list-item
                >
                <mat-list-item class="skill-list-item"
                  ><mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox
                  ><span
                    matTooltip="Processing Large Data Sets"
                    matTooltipPosition="above"
                    >Processing Large Data Sets</span
                  ></mat-list-item
                >
                <mat-list-item class="skill-list-item"
                  ><mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox
                  ><span
                    matTooltip="Training and Deploying ML Models for Prediction"
                    matTooltipPosition="above"
                    >Training and Deploying ML Models for Prediction</span
                  ></mat-list-item
                >
                <mat-list-item class="skill-list-item"
                  ><mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox
                  ><span
                    matTooltip="Using SQL and NoSQL Databases"
                    matTooltipPosition="above"
                    >Using SQL and NoSQL Databases</span
                  ></mat-list-item
                >
                <mat-list-item class="skill-list-item"
                  ><mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox
                  ><span
                    matTooltip="Business Intelligence"
                    matTooltipPosition="above"
                    >Business Intelligence</span
                  ></mat-list-item
                >
                <mat-list-item class="skill-list-item"
                  ><mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox
                  ><span
                    matTooltip="Multivariate Calculus and Linear Algebra"
                    matTooltipPosition="above"
                    >Multivariate Calculus and Linear Algebra</span
                  >
                </mat-list-item>
                <mat-list-item class="skill-list-item"
                  ><mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox
                  ><span
                    matTooltip="Experimentation and A/B Testing"
                    matTooltipPosition="above"
                    >Experimentation and A/B Testing</span
                  >
                </mat-list-item>
              </mat-list>
            </div>
            <div class="col-6">
              <mat-list class="skill-list">
                <h2 class="skill-header">Relevant Technologies</h2>
                <mat-list-item class="skill-list-item">
                  <mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox>
                  <span
                    matTooltip="Python Programming"
                    matTooltipPosition="above"
                    >Python Programming</span
                  >
                </mat-list-item>
                <mat-list-item class="skill-list-item">
                  <mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox>
                  <span matTooltip="Amazon SageMaker" matTooltipPosition="above"
                    >Amazon SageMaker</span
                  >
                </mat-list-item>
                <mat-list-item class="skill-list-item">
                  <mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox>
                  <span matTooltip="Pandas" matTooltipPosition="above"
                    >Pandas</span
                  >
                </mat-list-item>
                <mat-list-item class="skill-list-item">
                  <mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox>
                  <span matTooltip="Numpy" matTooltipPosition="above"
                    >Numpy</span
                  >
                </mat-list-item>
                <mat-list-item class="skill-list-item">
                  <mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox>
                  <span matTooltip="Power BI" matTooltipPosition="above"
                    >Power BI</span
                  >
                </mat-list-item>
                <mat-list-item class="skill-list-item">
                  <mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox>
                  <span
                    matTooltip="Matplotlib, Seaborn, Tableau"
                    matTooltipPosition="above"
                    >Matplotlib, Seaborn, Tableau</span
                  >
                </mat-list-item>
                <mat-list-item class="skill-list-item">
                  <mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox>
                  <span
                    matTooltip="SAS and Scikit-Learn"
                    matTooltipPosition="above"
                    >SAS and Scikit-Learn</span
                  >
                </mat-list-item>
                <mat-list-item class="skill-list-item">
                  <mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox>
                  <span matTooltip="Databricks" matTooltipPosition="above"
                    >Databricks</span
                  >
                </mat-list-item>
                <mat-list-item class="skill-list-item">
                  <mat-checkbox
                    checked="true"
                    class="example-margin"
                  ></mat-checkbox>
                  <span matTooltip="Advanced Excel" matTooltipPosition="above"
                    >Advanced Excel</span
                  >
                </mat-list-item>
              </mat-list>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-button>LIKE</button>
        <button mat-button>SHARE</button> -->
    </mat-card-actions>
  </mat-card>
</div>
