<div id="mainCoantiner">
  <!--dust particel-->
  <div class="margin-body">
    <div>
      <!--Dust particle end--->

      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
              <div class="title-h1 text-center">
                <span class="light">Software Projects</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 project-column-wrapper">
          <div class="project-column">
            <div class="project-price-row">
              <div class="project-price-wrapper">
                <img
                  src="../../../../../assets/snake.jpeg"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="project-row-title">
              <div class="project_row_title">Snake Game with Phyton</div>
            </div>
            <figure class="project-row">Object Oriented Programming</figure>
            <figure class="project-row">
              <span>Functionality of Avoiding Snake to Collide Walls</span>
            </figure>
            <figure class="project-row">
              Guide the snake to Eat Food Items
            </figure>
            <figure class="project-row">Setting up Real Game Window</figure>
            <figure class="project-row">
              Tracking and Displaying Player's Score
            </figure>
            <div class="project-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://github.com/turgutguvenc/snake-game-python"
                  class="gem-button gem-green"
                  target="_blank"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 project-column-wrapper">
          <div class="project-column">
            <div class="project-price-row">
              <div class="project-price-wrapper">
                <img
                  src="../../../../../assets/turtle_game.webp"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="project-row-title">
              <div class="project_row_title">Car Race Game with Phyton</div>
            </div>
            <figure class="project-row">Object Oriented Programming</figure>
            <figure class="project-row">
              Implementing Modularity for Different Classes
            </figure>
            <figure class="project-row">Arcade Style Game Functionality</figure>
            <figure class="project-row">
              Vertical and Horizontal Movement Functionality
            </figure>
            <figure class="project-row">
              Scoreboard for Track Player's Score
            </figure>
            <div class="project-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://github.com/turgutguvenc/Car-races-turtle"
                  class="gem-button gem-purpel"
                  target="_blank"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-6 project-column-wrapper">
          <div class="project-column">
            <div class="project-price-row">
              <div class="project-price-wrapper">
                <img
                  src="../../../../../assets/pong_game.png"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="project-row-title">
              <div class="project_row_title">Pong Game with Phyton</div>
            </div>
            <figure class="project-row">Object Oriented Programming</figure>
            <figure class="project-row">
              Implementing Modularity for Different Classes
            </figure>
            <figure class="project-row">
              Simulation of Table Tennis Match with Colorful Graphics
            </figure>
            <figure class="project-row">
              Maneuvering Paddles Functionality to hit the Ball
            </figure>
            <figure class="project-row">
              Scoreboard for Track Players' Score
            </figure>
            <div class="project-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://github.com/turgutguvenc/Pong-Game"
                  class="gem-button gem-green"
                  target="_blank"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 project-column-wrapper">
          <div class="project-column">
            <div class="project-price-row">
              <div class="project-price-wrapper">
                <img
                  src="../../../../../assets/remote_control.png"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="project-row-title">
              <div class="project_row_title">TV Remote Control App</div>
            </div>
            <figure class="project-row">Object Oriented Programming</figure>
            <figure class="project-row">Open TV Functionality</figure>
            <figure class="project-row">Close TV Functionality</figure>
            <figure class="project-row">Voice Settings Functionality</figure>
            <figure class="project-row">Add Channel Functionality</figure>
            <div class="project-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://github.com/turgutguvenc/TV-REMOTE"
                  class="gem-button gem-purpel"
                  target="_blank"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="division-line" />
    </div>
  </div>
</div>
