<div id="mainCoantiner">
  <!--dust particel-->
  <div class="margin-body">
    <div>
      <!--Dust particle end--->

      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
              <div class="title-h1 text-center">
                <span class="light">WEB DEVELOPMENT PROJECTS</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 pricing-column-wrapper">
          <div class="pricing-column">
            <div class="pricing-price-row">
              <div class="pricing-price-wrapper">
                <img
                  src="../../assets/credit.jpg"
                  alt=""
                  class="img-responsive"
                  style="width: 300px; height: 200px; border-radius: 50%"
                />
              </div>
            </div>
            <div class="pricing-row-title">
              <div class="pricing_row_title">Credit Card Fraud Detection</div>
            </div>
            <figure class="pricing-row">
              Fraud detection out of 284,807 transactions with high accuracy.
            </figure>
            <figure class="pricing-row">
              <span
                >The dataset is highly unbalanced, the positive class (frauds)
                account for 0.172% of all transactions.</span
              >
            </figure>
            <figure class="pricing-row">
              Dimensionality of the data is reduced for protecting the privacy
              of the users.
            </figure>
            <figure class="pricing-row">
              Implementing different machine learning models in a comparative
              fashion.
            </figure>
            <figure class="pricing-row">
              Building an Evaluation Matrix and different performance measure
              tools on Test Set
            </figure>
            <div class="pricing-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://github.com/kadirguvenc1986/CREDIT-CARD-FRAUD-DETECTION"
                  class="gem-button gem-green"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 pricing-column-wrapper">
          <div class="pricing-column">
            <div class="pricing-price-row">
              <div class="pricing-price-wrapper">
                <img
                  src="../../assets/face.jpg"
                  alt=""
                  class="img-responsive"
                  style="width: 300px; height: 200px; border-radius: 50%"
                />
              </div>
            </div>
            <div class="pricing-row-title">
              <div class="pricing_row_title">Face Detection</div>
            </div>
            <figure class="pricing-row">
              Creating a website that uses a machine learning model that
              classifies people's images.
            </figure>
            <figure class="pricing-row">
              This can classify images when images are uploaded to the website.
              >
            </figure>
            <figure class="pricing-row">
              Data collecting and preprocessing is a very crucial step of the
              process.
            </figure>
            <figure class="pricing-row">
              Real Case Implementation of Convolutional Neural Networks.
            </figure>
            <figure class="pricing-row">
              Using differnet model evaluation tools and libraries and
              deployment of the model in a real dataset.
            </figure>
            <div class="pricing-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://github.com/kadirguvenc1986/Face-Detection"
                  class="gem-button gem-purpel"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 pricing-column-wrapper">
          <div class="pricing-column">
            <div class="pricing-price-row">
              <div class="pricing-price-wrapper">
                <img
                  src="../../assets/realestate.jpg"
                  alt=""
                  class="img-responsive"
                  style="width: 300px; height: 200px; border-radius: 50%"
                />
              </div>
            </div>
            <div class="pricing-row-title">
              <div class="pricing_row_title">Real Estate Price Prediction</div>
            </div>
            <figure class="pricing-row">
              I have developed a machine learning model with a python flask
              server that predicts real estate prices according to their
              features.
            </figure>
            <figure class="pricing-row">
              <span
                >Model allows user to enter home square ft area, bedrooms, etc
                and then retrieve the predicted price with very high
                accuracy.</span
              >
            </figure>
            <figure class="pricing-row">
              This model can be adoptable to any kind of data that needs price
              predictions like car price, house price, item price, etc.
            </figure>
            <figure class="pricing-row">
              Different regression algorithms of machine leanring models is used
              in order to get the highest accuracy.
            </figure>

            <div class="pricing-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://github.com/kadirguvenc1986/REAL-ESTATE-PRICE-PREDICTION"
                  class="gem-button gem-orange"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 pricing-column-wrapper">
          <div class="pricing-column">
            <div class="pricing-price-row">
              <div class="pricing-price-wrapper">
                <img
                  src="../../assets/"
                  alt=""
                  class="img-responsive"
                  style="width: 300px; height: 200px; border-radius: 50%"
                />
              </div>
            </div>
            <div class="pricing-row-title">
              <div class="pricing_row_title">Customer Segmentation</div>
            </div>
            <figure class="pricing-row">
              This project uses unsupervised machine learning algorithms to
              perform customer market segmentation.
            </figure>
            <figure class="pricing-row">
              The project can enable companies to launch targeted ad marketing
              campaigns that are tailored to customer's specific needs.
            </figure>
            <figure class="pricing-row">
              Implemeting different segmentation strategies based on geographic,
              demographic, behavioral,psychological parameters.
            </figure>
            <figure class="pricing-row">
              The project can enable companies to develop optimization in
              budgeting, product design, promotion, marketing , and customer
              satisfaction.
            </figure>

            <div class="pricing-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://github.com/kadirguvenc1986/Customer-Segmentation"
                  class="gem-button gem-yellow"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="division-line" />
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
              <div class="title-h1 text-center">
                <span class="light">DATA SCIENCE PROJECTS</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6 pricing-column-wrapper">
          <div class="pricing-column">
            <div class="pricing-price-row">
              <div class="pricing-price-wrapper">
                <img
                  src="../../assets/credit.jpg"
                  alt=""
                  class="img-responsive"
                  style="width: 300px; height: 200px; border-radius: 50%"
                />
              </div>
            </div>
            <div class="pricing-row-title">
              <div class="pricing_row_title">Credit Card Fraud Detection</div>
            </div>
            <figure class="pricing-row">
              Fraud detection out of 284,807 transactions with high accuracy.
            </figure>
            <figure class="pricing-row">
              <span
                >The dataset is highly unbalanced, the positive class (frauds)
                account for 0.172% of all transactions.</span
              >
            </figure>
            <figure class="pricing-row">
              Dimensionality of the data is reduced for protecting the privacy
              of the users.
            </figure>
            <figure class="pricing-row">
              Implementing different machine learning models in a comparative
              fashion.
            </figure>
            <figure class="pricing-row">
              Building an Evaluation Matrix and different performance measure
              tools on Test Set
            </figure>
            <div class="pricing-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://github.com/kadirguvenc1986/CREDIT-CARD-FRAUD-DETECTION"
                  class="gem-button gem-green"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 pricing-column-wrapper">
          <div class="pricing-column">
            <div class="pricing-price-row">
              <div class="pricing-price-wrapper">
                <img
                  src="../../assets/face.jpg"
                  alt=""
                  class="img-responsive"
                  style="width: 300px; height: 200px; border-radius: 50%"
                />
              </div>
            </div>
            <div class="pricing-row-title">
              <div class="pricing_row_title">Face Detection</div>
            </div>
            <figure class="pricing-row">
              Creating a website that uses a machine learning model that
              classifies people's images.
            </figure>
            <figure class="pricing-row">
              This can classify images when images are uploaded to the website.
              >
            </figure>
            <figure class="pricing-row">
              Data collecting and preprocessing is a very crucial step of the
              process.
            </figure>
            <figure class="pricing-row">
              Real Case Implementation of Convolutional Neural Networks.
            </figure>
            <figure class="pricing-row">
              Using differnet model evaluation tools and libraries and
              deployment of the model in a real dataset.
            </figure>
            <div class="pricing-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://github.com/kadirguvenc1986/Face-Detection"
                  class="gem-button gem-purpel"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 pricing-column-wrapper">
          <div class="pricing-column">
            <div class="pricing-price-row">
              <div class="pricing-price-wrapper">
                <img
                  src="../../assets/realestate.jpg"
                  alt=""
                  class="img-responsive"
                  style="width: 300px; height: 200px; border-radius: 50%"
                />
              </div>
            </div>
            <div class="pricing-row-title">
              <div class="pricing_row_title">Real Estate Price Prediction</div>
            </div>
            <figure class="pricing-row">
              I have developed a machine learning model with a python flask
              server that predicts real estate prices according to their
              features.
            </figure>
            <figure class="pricing-row">
              <span
                >Model allows user to enter home square ft area, bedrooms, etc
                and then retrieve the predicted price with very high
                accuracy.</span
              >
            </figure>
            <figure class="pricing-row">
              This model can be adoptable to any kind of data that needs price
              predictions like car price, house price, item price, etc.
            </figure>
            <figure class="pricing-row">
              Different regression algorithms of machine leanring models is used
              in order to get the highest accuracy.
            </figure>

            <div class="pricing-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://github.com/kadirguvenc1986/REAL-ESTATE-PRICE-PREDICTION"
                  class="gem-button gem-orange"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 pricing-column-wrapper">
          <div class="pricing-column">
            <div class="pricing-price-row">
              <div class="pricing-price-wrapper">
                <img
                  src="../../assets/"
                  alt=""
                  class="img-responsive"
                  style="width: 300px; height: 200px; border-radius: 50%"
                />
              </div>
            </div>
            <div class="pricing-row-title">
              <div class="pricing_row_title">Customer Segmentation</div>
            </div>
            <figure class="pricing-row">
              This project uses unsupervised machine learning algorithms to
              perform customer market segmentation.
            </figure>
            <figure class="pricing-row">
              The project can enable companies to launch targeted ad marketing
              campaigns that are tailored to customer's specific needs.
            </figure>
            <figure class="pricing-row">
              Implemeting different segmentation strategies based on geographic,
              demographic, behavioral,psychological parameters.
            </figure>
            <figure class="pricing-row">
              The project can enable companies to develop optimization in
              budgeting, product design, promotion, marketing , and customer
              satisfaction.
            </figure>

            <div class="pricing-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://github.com/kadirguvenc1986/Customer-Segmentation"
                  class="gem-button gem-yellow"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="margin-body">
    <!--Dust particle end--->

    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="wpb_text_column wpb_content_element">
          <div class="wpb_wrapper">
            <div class="title-h1 text-center"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 pricing-column-wrapper">
        <div class="pricing-column">
          <div class="pricing-price-row">
            <div class="pricing-price-wrapper">
              <img
                src="../../assets/traffic_sign.jpg"
                alt=""
                class="img-responsive"
                style="width: 300px; height: 200px; border-radius: 50%"
              />
            </div>
          </div>
          <div class="pricing-row-title">
            <div class="pricing_row_title">Traffic Sign Detection</div>
          </div>
          <figure class="pricing-row">
            This project uses Convolutional Neural Networks (CNNs) to classify
            different traffic signs.
          </figure>
          <figure class="pricing-row">
            <span>
              This model can classify 43 traffic sign images with a very
              accuracy and can be practically applied to self-driving cars.
            </span>
          </figure>
          <figure class="pricing-row">
            Testing different filter sizes, depth, and number of convolution
            layers, as well as the dimensions of fully connected layers.
          </figure>
          <figure class="pricing-row">
            Using augmentation techniques in an attempt to extend dataset and
            provide additional pictures in different lighting settings and
            orientations.
          </figure>
          <figure class="pricing-row">
            Deploying Highly configurable code and developing a flexible way of
            evaluating multiple architectures.
          </figure>
          <div class="pricing-footer">
            <div class="gem-button-container gem-button-position-center">
              <a
                href="https://github.com/kadirguvenc1986/TRAFFIC-SIGN-DETECTION"
                class="gem-button gem-green"
                >See Details</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 pricing-column-wrapper">
        <div class="pricing-column">
          <div class="pricing-price-row">
            <div class="pricing-price-wrapper">
              <img
                src="../../assets/personalwebsite.png"
                alt=""
                class="img-responsive"
                style="width: 300px; height: 200px; border-radius: 50%"
              />
            </div>
          </div>
          <div class="pricing-row-title">
            <div class="pricing_row_title">My Personal Portfolio Website</div>
          </div>
          <figure class="pricing-row">
            I have developed and developed a personal and interactive portfolio
            website on my own that can be reached anywhere in the world.
          </figure>
          <figure class="pricing-row">
            This website is a fully fledged website that I developed by using
            both frontend and backend codes.
          </figure>
          <figure class="pricing-row">
            This website has a python flask server that serves different pages.
            The websites contains homepage, cv page, project page, reference
            page, and course page.
          </figure>
          <figure class="pricing-row">
            The website uses bootstrap and professional css Implementation.
          </figure>
          <figure class="pricing-row">
            In addition to data science skills, I can develope fully fledged
            websites by using HTML, css, javascript, flask, bootstrap, etc.
          </figure>
          <div class="pricing-footer">
            <div class="gem-button-container gem-button-position-center">
              <a
                href="https://github.com/kadirguvenc1986/My-Personal-Portfolio-Website"
                class="gem-button gem-purpel"
                >See Details</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 pricing-column-wrapper">
        <div class="pricing-column">
          <div class="pricing-price-row">
            <div class="pricing-price-wrapper">
              <img
                src="../../assets/churn1.PNG"
                alt=""
                class="img-responsive"
                style="width: 300px; height: 200px; border-radius: 50%"
              />
            </div>
          </div>
          <div class="pricing-row-title">
            <div class="pricing_row_title">Customer Churn Prediction</div>
          </div>
          <figure class="pricing-row">
            I have developed a machine learning model by using different machine
            learning algorithms that can predict which customers are at high
            risk of churn with a very accuracy.
          </figure>
          <figure class="pricing-row">
            <span
              >Model allows companies to detect both loyal and churn customers
              in a predictive way so that companies can develop a holistic view
              of the customers and their interactions across numerous
              channels.</span
            >
          </figure>
          <figure class="pricing-row">
            This model can be adoptable to any kind of busines problem related
            to customer loyalty or churn.
          </figure>
          <figure class="pricing-row">
            Different classification algorithms of machine leanring models is
            used in order to get the highest accuracy.
          </figure>

          <div class="pricing-footer">
            <div class="gem-button-container gem-button-position-center">
              <a
                href="https://github.com/kadirguvenc1986/Customer-Churn-Prediction"
                class="gem-button gem-orange"
                >See Details</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 pricing-column-wrapper">
        <div class="pricing-column">
          <div class="pricing-price-row">
            <div class="pricing-price-wrapper">
              <img
                src="../../assets/chatbot.jpg"
                alt=""
                class="img-responsive"
                style="width: 300px; height: 200px; border-radius: 50%"
              />
            </div>
          </div>
          <div class="pricing-row-title">
            <div class="pricing_row_title">Chatbot</div>
          </div>
          <figure class="pricing-row">
            This chatbot can conduct an online chat conversation via text or
            text-to-speech by using NLTK, Tensorflow and NLP.
          </figure>
          <figure class="pricing-row">
            The chatbot automates most of the customer interaction by answering
            some of the frequent questions that are asked by the customers.
          </figure>
          <figure class="pricing-row">
            >The chatbot can be applicable to any kind of business domain.
          </figure>
          <figure class="pricing-row">
            I use a special recurrent neural network (LSTM) to classify which
            category the user’s message belongs to and then we will give a
            random response from the list of responses.
          </figure>
          <figure class="pricing-row">
            The chabot can be deployed to a website or an app.
          </figure>
          <div class="pricing-footer">
            <div class="gem-button-container gem-button-position-center">
              <a
                href="https://github.com/kadirguvenc1986/Face-Detection"
                class="gem-button gem-purpel"
                >See Details</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
