<div id="mainCoantiner">
  <!--dust particel-->
  <div class="margin-body">
    <div>
      <div class="starsec"></div>
      <div class="starthird"></div>
      <div class="starfourth"></div>
      <div class="starfifth"></div>
    </div>
    <!--Dust particle end--->
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="wpb_text_column wpb_content_element">
          <div class="wpb_wrapper">
            <div class="title-h1 text-center">
              <span>Tasarımlarım</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-1 pricing-column-wrapper">
        <div class="pricing-column" style="width: 100%; height: 100%">
          <div class="pricing-price-row">
            <div class="pricing-price-wrapper">
              <div class="pricing_row_title">T-SHIRT LOGO</div>
            </div>
          </div>
          <div class="pricing-row-title">
            <img
              src="assets/tasarim16.jpg"
              alt=""
              class="img-responsive"
              style="width: 100%; height: 600px"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-1 pricing-column-wrapper">
        <div class="pricing-column" style="width: 100%; height: 100%">
          <div class="pricing-price-row">
            <div class="pricing-price-wrapper">
              <div class="pricing_row_title">T-SHIRT LOGO</div>
            </div>
          </div>
          <div class="pricing-row-title">
            <img
              src="assets/tasarim17.jpg"
              alt=""
              class="img-responsive"
              style="width: 100%; height: 600px"
            />
          </div>
        </div>
      </div>
    </div>
    <hr size="2" class="myline" style="border-color: #fff" />
    <div class="row">
      <div class="col-lg-6 col-md-1 pricing-column-wrapper">
        <div class="pricing-column" style="width: 100%; height: 100%">
          <div class="pricing-price-row">
            <div class="pricing-price-wrapper">
              <div class="pricing_row_title">GÜVEN HUKUK BÜROSU</div>
            </div>
          </div>
          <div class="pricing-row-title">
            <img
              src="assets/tasarim2.jpg"
              alt=""
              class="img-responsive"
              style="width: 100%; height: 600px"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-1 pricing-column-wrapper">
        <div class="pricing-column" style="width: 100%; height: 100%">
          <div class="pricing-price-row">
            <div class="pricing-price-wrapper">
              <div class="pricing_row_title">TESTERE FILM</div>
            </div>
          </div>
          <div class="pricing-row-title">
            <img
              src="assets/tasarim9.jpg"
              alt=""
              class="img-responsive"
              style="width: 100%; height: 600px"
            />
          </div>
        </div>
      </div>
    </div>
    <hr size="2" class="myline" style="border-color: #fff" />
    <div class="row">
      <div class="col-lg-6 col-md-1 pricing-column-wrapper">
        <div class="pricing-column" style="width: 100%; height: 100%">
          <div class="pricing-price-row">
            <div class="pricing-price-wrapper">
              <div class="pricing_row_title">MASKE FILM</div>
            </div>
          </div>
          <div class="pricing-row-title">
            <img
              src="assets/tasarim10.jpg"
              alt=""
              class="img-responsive"
              style="width: 100%; height: 1000px"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-1 pricing-column-wrapper">
        <div class="pricing-column" style="width: 100%; height: 100%">
          <div class="pricing-price-row">
            <div class="pricing-price-wrapper">
              <div class="pricing_row_title">THE PIANIST FILM</div>
            </div>
          </div>
          <div class="pricing-row-title">
            <img
              src="assets/tasarim11.jpg"
              alt=""
              class="img-responsive"
              style="width: 100%; height: 1000px"
            />
          </div>
        </div>
      </div>
    </div>
    <hr size="2" class="myline" style="border-color: #fff" />
    <div class="row">
      <div class="col-lg-6 col-md-1 pricing-column-wrapper">
        <div class="pricing-column" style="width: 100%; height: 100%">
          <div class="pricing-price-row">
            <div class="pricing-price-wrapper">
              <div class="pricing_row_title">INTERSTELLAR FILM</div>
            </div>
          </div>
          <div class="pricing-row-title">
            <img
              src="assets/tasarim12.jpg"
              alt=""
              class="img-responsive"
              style="width: 100%; height: 1000px"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-1 pricing-column-wrapper">
        <div class="pricing-column" style="width: 100%; height: 100%">
          <div class="pricing-price-row">
            <div class="pricing-price-wrapper">
              <div class="pricing_row_title">DAMLA ESTETIK</div>
            </div>
          </div>
          <div class="pricing-row-title">
            <img
              src="assets/tasarim13.jpg"
              alt=""
              class="img-responsive"
              style="width: 100%; height: 1000px"
            />
          </div>
        </div>
      </div>
    </div>
    <hr size="2" class="myline" style="border-color: #fff" />
    <div class="row">
      <div class="col-lg-6 col-md-1 pricing-column-wrapper">
        <div class="pricing-column" style="width: 100%; height: 100%">
          <div class="pricing-price-row">
            <div class="pricing-price-wrapper">
              <div class="pricing_row_title">GÜVEN GRUP LOGOLAR</div>
            </div>
          </div>
          <div class="pricing-row-title">
            <img
              src="assets/tasarim18.jpg"
              alt=""
              class="img-responsive"
              style="width: 100%; height: 1000px"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-1 pricing-column-wrapper">
        <div class="pricing-column" style="width: 100%; height: 100%">
          <div class="pricing-price-row">
            <div class="pricing-price-wrapper">
              <div class="pricing_row_title">TRANSFORMERS FILM</div>
            </div>
          </div>
          <div class="pricing-row-title">
            <img
              src="assets/tasarim19.jpg"
              alt=""
              class="img-responsive"
              style="width: 100%; height: 1000px"
            />
          </div>
        </div>
      </div>
    </div>
    <hr size="2" class="myline" style="border-color: #fff" />
    <div class="row">
      <div class="col-lg-6 col-md-1 pricing-column-wrapper">
        <div class="pricing-column" style="width: 100%; height: 100%">
          <div class="pricing-price-row">
            <div class="pricing-price-wrapper">
              <div class="pricing_row_title">ASYA DENTAL</div>
            </div>
          </div>
          <div class="pricing-row-title">
            <img
              src="assets/tasarim1.jpg"
              alt=""
              class="img-responsive"
              style="width: 100%; height: 600px"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-1 pricing-column-wrapper">
        <div class="pricing-column" style="width: 100%; height: 100%">
          <div class="pricing-price-row">
            <div class="pricing-price-wrapper">
              <div class="pricing_row_title">TORKSAN</div>
            </div>
          </div>
          <div class="pricing-row-title">
            <img
              src="assets/tasarim3.jpg"
              alt=""
              class="img-responsive"
              style="width: 100%; height: 600px"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
