<div id="mainCoantiner">
  <!--dust particel-->
  <div class="margin-body">
    <div>
      <!--Dust particle end--->

      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
              <div class="title-h1 text-center">
                <span class="light">Machine Learning Projects</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 project-column-wrapper">
          <div class="project-column">
            <div class="project-price-row">
              <div class="project-price-wrapper">
                <img
                  src="./assets/spam.jpg"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="project-row-title">
              <div class="project_row_title">
                NLP Project for Detecting SPAM Messages
              </div>
            </div>
            <figure class="project-row">
              Exploratory Data Analysis and Feature Engineering
            </figure>
            <figure class="project-row">
              <span
                >Advanced Visualization for Deeper Understanding of Data</span
              >
            </figure>
            <figure class="project-row">
              Text Preprocessing and Transformation
            </figure>
            <figure class="project-row">Vectorization of Messages</figure>
            <figure class="project-row">
              Train Model with Multinomial Naive Bayes Classifier
            </figure>
            <div class="project-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://www.kaggle.com/code/abrahamanderson/an-informative-use-of-nlp-for-spam-messages"
                  class="gem-button gem-green"
                  target="_blank"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 project-column-wrapper">
          <div class="project-column">
            <div class="project-price-row">
              <div class="project-price-wrapper">
                <img
                  src="./assets/nlp.png"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="project-row-title">
              <div class="project_row_title">
                NLP Project for Restaurant Customer Reviews
              </div>
            </div>
            <figure class="project-row">
              Exploratory Data Analysis and Feature Engineering
            </figure>
            <figure class="project-row">
              Cleaning and Vectorization of the Data
            </figure>
            <figure class="project-row">Creating Bag of Words with NLP</figure>
            <figure class="project-row">
              Comparative Implemention of Multiple ML ALgorithms
            </figure>
            <figure class="project-row">
              Model Evaluation and Implementing LSTMs
            </figure>
            <div class="project-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://www.kaggle.com/code/abrahamanderson/natural-language-processing"
                  class="gem-button gem-purpel"
                  target="_blank"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-6 project-column-wrapper">
          <div class="project-column">
            <div class="project-price-row">
              <div class="project-price-wrapper">
                <img
                  src="./assets/climate.JPG"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="project-row-title">
              <div class="project_row_title">Climate Change Forecasting</div>
            </div>
            <figure class="project-row">Exploratory Data Analysis</figure>
            <figure class="project-row">
              <span>Data Cleaning and Feature Engineering</span>
            </figure>
            <figure class="project-row">3D Data Visualization</figure>
            <figure class="project-row">
              Implementing Deep Neural Networks for Time Series
            </figure>
            <figure class="project-row">
              Using LSTM Layers and Model Evaluation
            </figure>
            <div class="project-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://www.kaggle.com/code/abrahamanderson/climate-change-forecasting"
                  class="gem-button gem-green"
                  target="_blank"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 project-column-wrapper">
          <div class="project-column">
            <div class="project-price-row">
              <div class="project-price-wrapper">
                <img
                  src="./assets/radio.JPG"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="project-row-title">
              <div class="project_row_title">
                Classify Radio Signals from Outer Space
              </div>
            </div>
            <figure class="project-row">
              Exploratory Data Analysis with Pandas and Numpy
            </figure>
            <figure class="project-row">
              Data Preprocessing with Pandas and Numpy
            </figure>
            <figure class="project-row">
              Create Training and Validation Data Generators
            </figure>
            <figure class="project-row">
              Building Deep Learning Model and Learning Rate Scheduling
            </figure>
            <figure class="project-row">
              Making Predictions and Evaluating Model Performance
            </figure>
            <div class="project-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://www.kaggle.com/code/abrahamanderson/classify-radio-signals-from-outer-space"
                  class="gem-button gem-purpel"
                  target="_blank"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 project-column-wrapper">
          <div class="project-column">
            <div class="project-price-row">
              <div class="project-price-wrapper">
                <img
                  src="./assets/asphalt.JPG"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="project-row-title">
              <div class="project_row_title">
                Asphalt Crack Detection with CNNs
              </div>
            </div>
            <figure class="project-row">
              <span>Data Collection and Cleaning</span>
            </figure>
            <figure class="project-row">Exploratory Data Analysis</figure>
            <figure class="project-row">
              Data Preprocessing with Keras Image Library
            </figure>
            <figure class="project-row">
              Implementing Deep Neural Networks for Image
            </figure>
            <figure class="project-row">
              Model Training, Performance Evaluation and Deployment
            </figure>
            <div class="project-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://www.kaggle.com/code/abrahamanderson/asphalt-crack-detection-with-cnns"
                  class="gem-button gem-green"
                  target="_blank"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 project-column-wrapper">
          <div class="project-column">
            <div class="project-price-row">
              <div class="project-price-wrapper">
                <img
                  src="./assets/tumor.JPG"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="project-row-title">
              <div class="project_row_title">
                Brain Tumor Detection with %98 Accuracy
              </div>
            </div>
            <figure class="project-row">
              Advanced Visualization with Matplotlib and Seaborn
            </figure>
            <figure class="project-row">
              Data Preprocessing with Keras Image Library
            </figure>
            <figure class="project-row">
              Transfer Learning for Better Accuracy with MobileNets
            </figure>
            <figure class="project-row">Adding CNNs and Dense Layers</figure>
            <figure class="project-row">
              Making Predictions and Evaluating Model Performance
            </figure>
            <div class="project-footer">
              <div class="gem-button-container gem-button-position-center">
                <a
                  href="https://www.kaggle.com/code/abrahamanderson/brain-tumor-detection-with-98-accuracy"
                  class="gem-button gem-purpel"
                  target="_blank"
                  >See Details</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="division-line" />
    </div>
  </div>
</div>
