.container {
  align-items: center;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar {
  display: flex;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  width: 100%;
  justify-content: space-between;
}

.nav-link {
  font-size: 1.2rem;
}
.navbar-nav {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}

#toggle-nav {
  display: block;
  color: white;
  margin-right: 3%;
  padding-right: 3%;
}

a {
  color: #45b29a;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 10px 40px;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
}
a:hover {
  color: #eaf6f6;
}
@media only screen and (max-width: 600px) {
  .nav-link {
    font-size: 0.9rem;
  }
}
