.container {
  align-items: center;
  text-align: center;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #303241;
  border-bottom: 1px solid #00bcd4;
}
.navbar {
  display: flex;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  width: 100%;
  justify-content: space-between;
}
.navbar-brand {
  margin-right: 10%;
  color: #fff;
}

.nav-link {
  font-size: 1.2rem;
  color: #fff;
}
.active-link {
  color: #c2185b;
}
.navbar-nav {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}

#toggle-nav {
  display: block;
  color: white;
  margin-right: 3%;
  padding-right: 3%;
}

a {
  color: #45b29a;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 10px 40px;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
}
a:hover {
  color: #c2185b;
}
@media only screen and (max-width: 600px) {
  .nav-link,
  .navbar-brand {
    font-size: 0.9rem;
  }
}
